<div class="row">

    <div class="container">
        <div class="card-panel">
            <h5 class="center-align">{{actualQuestion.content}}</h5>
        </div>

        <div class="card-panel">
            <div class="row">
                <div class="collection">
                        <div ng-repeat="answerLine in getAllLines() track by $index" answer-dropdown id="answerDropdown $index"></div>
                </div>
            </div>
        </div>
        <div class="col s4 left-align">
            <a ng-click="goToPreviousQuestion()" id="previousButton" class="waves-effect waves-light btn"><i class="material-icons left">skip_previous</i>Previous</a>
        </div>
        <div class="col s4 center-align">
            <a class="waves-effect waves-light btn" id="editButton">Submit</a>
        </div>
        <div class="col s4 right-align">
            <a ng-click="goToNextQuestion()" id="nextButton" class="waves-effect waves-light btn"><i class="material-icons right">skip_next</i>Next</a>
        </div>
    </div>
</div>


