<nav>
    <div class="nav-wrapper green lighten-1">
        <ul id="nav-mobile" class="right">
            <li ui-sref-active="active"><a ui-sref="pdfLectures">PDF</a></li>
            <li ui-sref-active="active"><a ui-sref="questions">MC</a></li>
            <li ui-sref-active="active"><a ui-sref="exercises">Exercise</a></li>
        </ul>
    </div>
</nav>
<!--Side nav-->
<ul id="slide-out" class="side-nav fixed">
    <!--Logo-->
    <li class="logo">
        <a id="logo-container" href="#" class="brand-logo center-align">
            <img src="img/logo.png" alt="logo" height="60px"/>
        </a>
    </li>
    <!-- End of Logo-->
    <!--List of nav items-->
    <li class="no-padding">
        <ul class="collapsible" data-collapsible="accordion">
            <!--Kapitel Header-->
            <li ng-repeat="topic in getAllTopics() track by $index">
                <div class="collapsible-header"><i class="material-icons">turned_in</i>{{topic}}</div>
                <div class="collapsible-body">
                    <ul>
                        <!--Kapitel Questions-->
                        <li ng-repeat="question in data.questions|filter:{topic:topic}"><a ng-click="goToQuestion(question)" class="truncate">{{question.content}}</a></li>
                    </ul>
                </div>
            </li><!--End of Kapitel Header-->
        </ul>
</ul>
<!--Dont delete it! Dropdown functionality of sideNav-->
<script>$('.collapsible').collapsible();</script>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<script>$(".button-collapse").sideNav();</script>