<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Buchführung Trainer</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type='text/css'/>

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-router.min.js"></script>

    <link href="css/loginPageStyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body ng-app="brmLoginApp">

<div class="login-page" ng-controller="LoginCtrl">
    <div class="form">
        <p ng-show="isErrorRegistration" class="message error formErrorMessage">{{errorMessage}}</p>

        <form class="register-form">
            <input ng-model="credentials.firstName" name="firstName" type="text" placeholder="First Name"/>
            <input ng-model="credentials.password" type="password" placeholder="password"/>
            <input ng-model="credentials.email" type="text" placeholder="email"/>
            <button ng-click="register()" type="button">create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>

        <p ng-show="isErrorLogin" class="message error formErrorMessage">{{errorMessage}}</p>

        <form class="login-form" action="/login" method="post">
            <input ng-model="emailLogin" id="username" name="username"  type="text" placeholder="email"/>
            <input ng-model="passwordLogin" id="password" name="password" type="password" placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>

<script>
    $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        $('.formErrorMessage').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>

<script>
    var brmLoginApp = angular.module("brmLoginApp",['ui.router']);

    brmLoginApp.controller("LoginCtrl", function ($scope, $http, $location, $window){
        $scope.isErrorLogin = $location.absUrl().includes("error");
        $scope.errorMessage = "Email or password is not correct.";
        $scope.credentials={};
        $scope.register=function(){
            var data = $scope.credentials;
            console.log(data);
            $http({
                method: 'POST',
                url: "/api/users/register",
                data: data
            }).success(function (data, status) {
                console.log("Success"+data);
                $window.location.reload()
            }).error(function (error) {
                console.log(error);
                $scope.isErrorRegistration = true;
                $scope.errorMessage = "Your data is not correct.";
            })
        };
    });
</script>
</body>
</html>